#about{
    width: 500px;
    height: 380px;
    margin-top: 0px;
    padding: 20px;
    background-color: yellowgreen;
}
#education{
    width: 500px;
    height: 380px;
    margin-top: 0px;
    padding: 20px;
    background-color: wheat;
}
#form{
    width: 500px;
    height: 380px;
    margin-top: 0px;
    padding: 20px;
    background-color: darkkhaki;
}
#form1{
    width: 500px;
    height: 380px;
    margin-top: 0px;
    padding: 20px;
    background-color: tan;
}
.divs{
    border: 2px solid green;
    border-radius: 15px;
    margin: 20px;
}
body{
    background-color: navajowhite;
}
h1{
    text-align: center;
}
#about h2{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#main-div{
    display: flex;
}
#form h3{
    margin-top: 180px; text-align: center;
}